/* ....................... SITE WIDE............................... */


*{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/* ....................... HEADER............................... */

header{
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px black;
    column-gap: 8px;
    
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    
}

/* ....................... HANBURGER NAVIGATION............................... */
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::after{
    content: "\00D7";
    font-size: 2rem;
}

