@media screen and (min-width: 38rem) {

    header, nav, main, footer{
        max-width: 900px;
        margin: 0 auto;
    }

    header{
        grid-template-columns: 40px auto;
    }

  .hamburger {
    display: none;
  }

  .navigation{
    display: block;
    background: black;
    padding: 0.1px;
  }

  .navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
   
  }

  .navigation ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

main .text{
    display: flex;
    gap: 15px;
}

}
